*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.contenedor-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 241, 89, 1);
    height: 68px;
}
.input-busqueda{
    margin-right: 10px;
    width: 375px;
    height: 44px;
    border-radius: 6px;
    font-size: 20px;
}
.boton-busqueda{
    width: 121px;
    height: 44px;
    border-radius: 6px;
    font-family: 'Roboto';
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
}
.contenedor-cantidad-resultado-busqueda{
    margin-top: 10px;
    width: 510px;
}
.contenedor-resultados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
}

.link-pagina-ml{
    text-decoration: none;
    color: black;
}
.contenedor-producto-resultado{
    margin: 10px;
    display: flex;
    width: 510px;
    height: 130px;
    border: solid 1px;
    border-radius: 4px;
    overflow:auto;
}
.contenedor-imagen-producto{
    margin: 5px;
}
.imagen-producto{
    width: 120px;
    height: 118px;
}
.contenedor-nombre-estado-producto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.span-nombre-producto{
    margin: 5px 0 4px 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
}
.span-estado-producto{
    font-family: 'Roboto';
    font-size: 14px;
}
.span-ventas-producto{
    font-family: 'Roboto';
    justify-self: end;
}
.contenedor-precio{
    margin: 13px 15px 80px auto;
}
.span-precio-producto{
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    color: rgba(87, 145, 164, 1);
}
